asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.4
django-core==1.4.1
gunicorn==23.0.0
packaging==25.0
psycopg2-binary==2.9.10
typing_extensions==4.14.0
tzdata==2025.2
waitress==3.0.2
whitenoise==6.9.0