asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.2.4
django-heroku==0.3.1
gunicorn==23.0.0
idna==3.10
numpy==2.2.6
packaging==25.0
pandas==2.2.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0